.resultado {
  opacity: 0;
}
.resultado img {
  position: absolute;
  top: 32vh;
  left: 12vh;
  width: 30vh;
}
.titulo {
  font-size: 3vh;
  margin: auto;
  margin-top: 1vh;
  position: absolute;
  top: 0;
  left: 2vh;
  width: 8vh;
}
.pantalla {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100%;
}

img {
  width: 50vh;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;


}
.diagrama{
  margin-top: -18vh;
  margin-left: -12vh;
 
  height: 28vh;
}