.botones {
  width: 15vh;
  height: 15vh;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  margin-top: 12vh;
}

.arriba,
.abajo,
.izquierda,
.derecha,
.centro {
  position: absolute;
  width: 4vh;
  height: 4vh;
  margin-left: 7.35vh;
  margin-top: 4.4vh;
  background-color: #D5D5D5;
  border-radius: 100%;
  padding: 0.5vh;
  border: none;
}

.arriba {
  transform: translate(-50%, -150%);
}

.abajo {
  transform: translate(-50%, 50%);
}

.izquierda {
  transform: translate(-150%, -50%);
}

.derecha {
  transform: translate(50%, -50%);
}
